<div class="header_content">

	<div class="others">
		<div class="logotype">
				<img src="{{ 'assets/images/logo.png'|theme }}" alt="логотип">
			</div>
			
			<div class="contacts">
				<address>mail@airsoft-battle.ru</address>
				<address>8(495)565-99-11</address>
			</div>
	</div>

	<div class="menu">
		<ul>
			<a href="{{ 'home'|page }}"><li>Главная</li></a>
			<a href="{{ 'about_airsoft'|page }}"><li>О страйкболе</li></a>
			<a href="#"><li>Расписание</li></a>
			<a href="#"><li>Галерея</li></a>
			<a href="{{ 'shooting_range'|page }}"><li>Полигоны</li></a>
			<a href="#"><li>Аренда</li></a>
			<a href="#"><li>Записаться на игру</li></a>
			<a href="#"><li>Контакты</li></a>
		</ul>
	</div>
</div>

<div class="poster">
	<span class="poster_name">Ближайшая игра</span>
	<span class="poster_date">28 апреля</span>
	<span class="poster_address">полигон "Непецино"</span>
	<div class="links">
		<a href="#">Смотреть схему проезда >></a>
		<a href="#">Правила >></a>
		<a href="#">Аренда >></a>
	</div>
</div>
